.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 75%;
  border: 1px solid black;
  border-radius: 10px;
}

.image-container figcaption {
  font-size: 0.875rem;
  color: #666;
  text-align: center;
  margin-top: 0.5rem;
}
