<mat-toolbar class="header-toolbar">
  <div class="header">
    <mat-icon (click)="toggleSidebar()">menu</mat-icon>

    <span class="header-title">PHH Platform Documentation</span>
  </div>

  <div class="toolbar-container">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search Documents" />
    </mat-form-field>

    <mat-icon (click)="toggleMode()" *ngIf="!isDarkMode">light_mode</mat-icon>
    <mat-icon (click)="toggleMode()" [class.disabled]="!isDarkMode"
      >dark_mode</mat-icon
    >
  </div>
</mat-toolbar>
