<div class="app-window">
  <div class="body">
    <!-- Content -->
    <div class="content-container">
      <app-main-title>Getting Started with Proxy App</app-main-title>

      <app-section-title id="step1"
        >Step 1: How to download PHH Proxy App</app-section-title
      >

      <app-content
        >Click
        <app-link
          url="https://yomastrategicsingapore-my.sharepoint.com/personal/draungminoo_punhlainghospitals_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fdraungminoo%5Fpunhlainghospitals%5Fcom%2FDocuments%2FPHH%5FPROXY%5FEXE%2FPHH%20Proxy%2Eexe&parent=%2Fpersonal%2Fdraungminoo%5Fpunhlainghospitals%5Fcom%2FDocuments%2FPHH%5FPROXY%5FEXE&ga=1"
          [isExternal]="true"
          target="_blank"
          tooltip="PHH Proxy Download Link"
          cssClass="primary"
        >
          here
        </app-link>

        to download PHH Proxy App</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step1/step1-1.png"
        alt="Step 1-1"
      ></app-image>

      <div class="spacer"></div>

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step1/step1-2.png"
        alt="Step 1-2"
      ></app-image>

      <app-content
        >After clicking “Download”, the “Recent download history” will appear
        and click on “Full download history”.</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step1/step1-3.png"
        alt="Step 1-3"
      ></app-image>

      <app-content
        >After the download had finished, click on “PHH Proxy.exe”.</app-content
      >

      <app-section-title id="step2"
        >Step 2: How to install PHH Proxy App</app-section-title
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step2/step2-1.png"
        alt="Step 2-1"
      ></app-image>

      <div class="spacer"></div>

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step2/step2-2.png"
        alt="Step 2-2"
      ></app-image>

      <app-content
        >After clicking on the exe file, there are two possible outcomes as
        shown in the above figures. You can click on “Run”.
      </app-content>

      <app-section-title id="step3"
        >Step 3: Sending Request Token to Admin</app-section-title
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step3/step3-1.png"
        alt="Step 3-1"
      ></app-image>

      <app-content
        >After running the application, this window will appear and click on
        “Request Token”.</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step3/step3-2.png"
        alt="Step 3-2"
      ></app-image>

      <app-content
        >After requesting the token, you will have to wait 30 seconds to be able
        to abort request.</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step3/step3-3.png"
        alt="Step 3-3"
      ></app-image>

      <app-content
        >After 30 seconds, you can click on the button if you want to abort the
        request.</app-content
      >

      <app-section-title id="step4"
        >Step 4: Accepting Request From Admin Side</app-section-title
      >

      <app-content
        >Now, the admin will have to accept the request from the user in Proxy
        User Requests. The admin must wait on Proxy Users Requests page before
        user making token request in order to see incoming request.</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step4/step4-1.png"
        alt="Step 4-1"
      ></app-image>

      <app-content
        >The information from the user’s device will be showed and click on
        it.</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step4/step4-2.png"
        alt="Step 4-2"
      ></app-image>

      <app-content
        >The device information will be showed again and you can accept or
        reject the request.</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step4/step4-3.png"
        alt="Step 4-3"
      ></app-image>

      <app-content
        >In the “Proxy Server Users”, you can see the devices that are already
        accepted. Click on menu icon to show detail information.
      </app-content>

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step4/step4-4.png"
        alt="Step 4-4"
      ></app-image>

      <div class="spacer"></div>

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step4/step4-5.png"
        alt="Step 4-5"
      ></app-image>

      <app-content
        >In the “Proxy User Groups”, you can add user to the desired group by
        clicking on menu icon.</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step4/step4-6.png"
        alt="Step 4-6"
      ></app-image>

      <div class="spacer"></div>

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step4/step4-7.png"
        alt="Step 4-7"
      ></app-image>

      <app-content>Click on the check box of the desired user. </app-content>

      <app-section-title id="step5"
        >Step 5: PHH Proxy App Useage Guide</app-section-title
      >

      <app-content
        >After the admin had accepted the user request and added to the user
        group, the user will be able to see the available apps.</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step5/step5-1.png"
        alt="Step 5-1"
      ></app-image>

      <app-content
        >If there is no app showing, click on the refresh icon.</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step5/step5-2.png"
        alt="Step 5-2"
      ></app-image>

      <app-content
        >These apps will be showed according to the app group added by the
        admin. You can click on the desired app and the window will redirect to
        the relative application. For example, if you click on “Facebook”, the
        Facebook app will be showed.</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step5/step5-3.png"
        alt="Step 5-3"
      ></app-image>

      <app-content
        >If you want to return to the available apps again click on
        “Apps”.</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step5/step5-4.png"
        alt="Step 5-4"
      ></app-image>

      <div class="spacer"></div>

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step5/step5-5.png"
        alt="Step 5-5"
      ></app-image>

      <app-content
        >You can also click on the new window icon to open the app in new
        window.</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step5/step5-6.png"
        alt="Step 5-6"
      ></app-image>

      <div class="spacer"></div>

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step5/step5-7.png"
        alt="Step 5-7"
      ></app-image>

      <app-content
        >Alternatively, you can also click on “Window” to call new
        window.</app-content
      >

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step5/step5-8.png"
        alt="Step 5-8"
      ></app-image>

      <div class="spacer"></div>

      <app-image
        src="assets/images/phh-proxy-guide/getting-started/step5/step5-9.png"
        alt="Step 5-9"
      ></app-image>
    </div>

    <!-- Outline -->
    <div class="outline-container" *ngIf="!isMobileView">
      <app-outlines [sections]="sections"></app-outlines>
    </div>
  </div>
</div>

